/*
  Variables
*/

blue = #1ccecb
offwhite = #fafafa
lightgrey  = #EDEEED
lightgray = lightgrey

html
  font-size 10px
  font-family sans-serif

p
  font-size 1.6rem
  line-height 1.5

h1
  font-family Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  text-align center
  font-weight 100
  font-size 8rem
  margin 2rem 0
  letter-spacing -1px
  text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)
  a
    color #1ccecb
    text-decoration none
    &:focus
      outline 0




